# notebooks
.ipynb_checkpoints

# Compiled python modules.
*.pyc

# Built docs
doc/build

# cache
__pycache__/

# External
.DS_Store

# Pickle
*.pkl

# Development
dev.py

# egg
clesto.egg-info/

# sublime text
*.sublime-project
*.sublime-workspace
